@import'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
@media only screen and (max-width: 414px){

    /* Aqui la info de estilos para móvil */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*@media only screen and (max-width: 1440px){*/

body{
    background-color:#010021
}

.allContent{
    margin-left: 10%;
}

.Encabezado{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.logo{
    min-width: 200px;
    min-height: 40px;
}

.Opciones{
    margin-right: 5%;
}
.Opciones a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    padding-left: 60px;
}

.Opciones a:hover{
    color: #00f585;
    border-right: white;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 2px;
    border-style: solid;
}

.mainLine{
    display:flex;
}

.mainSectionA{
    display:flex;
    flex-direction:column;
    width: 25%%;
    margin-top: 5%;
}

.text1{
    color:white;
    font-size: 3em;
}

.text2{
    font-size: 1em;
    color:#605975;
}

.SectionABtn{
    width: 10em;
    height: 2.5em;
    background-color: #00f582;
    border-color: #00f582;
    border-radius: 15px;
    margin-top: 25px;  
}

.mainSectionB{
    width: 75%;
    display: flex;
    flex-direction: column;
    position:relative;
    z-index: 1;
}

.mainImage{
    z-index: 1;
}

.layersBtns{
    position: relative;
    z-index: 2;
}

.buttn {
    position: absolute;
    width: 16%;
    height: 20%;
    border-radius: 50%;
    background: #4b514b;
    z-index: 2;
}


.layersBtns buttn:hover{
    display: block;
}

.buttnGran {
    position: absolute;
    width: 22%;
    height: 30%;
    border-radius: 51%;
    background: #4b514b;
    z-index: 2;
}

.layersBtns buttnGran:hover{
    display: block;
}

#btn1 {
    top: 6%;
    left: 2%
}

#btn2 {
    top:29%;
    left: 9.5%
}

#btn3 {
    top: 6%;
    left: 82%
}

#btn4 {
    top:29%;
    left: 74.5%
}

#btn5 {
    top: 15.5%;
    left: 27%
}

#btn6 {
    top: 15.5%;
    left: 50.5%
}

#btn7 {
    top: 53%;
    left: 15%;
}

#btn8 {
    top: 53%;
    left: 63%;
}

.bodyFooter{
    display:flex;
    height: 25%;
    margin-top: 4%;
    margin-bottom: 4%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textFoot1{
    color: white;
    font-size: 1.5em;
}

.textFoot2{
    color: #605975;
    font-size: 0.8em;
    margin-top: 10px;
}

.footBtn{
    width: 10em;
    height: 2em;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    margin-top: 10px;
}
/*} */
